.Apropos {
  &-Font {
    color: white;
  }
  &-Liste {
    width:87%;
    display: flex;
    flex-direction: column;
    margin: 15px 35px;
    align-items: center;
    &-Text {
        display:flex;
        width:90%;
      background-color: $textcolor;
      color: white;
      border: 1px red solid;
      padding: 12px;
      margin: 10px;
      border-radius: 5px;
      font-size: 20px;
      justify-content: space-between;
      &_sub {
        width:87%;
        background-color: #f6f6f6;
        color: $textcolor;
        padding: 25px;
        margin-top: -10px;
      }
      
    }
  }
}
