.carrousel {
  display: flex;
  padding-bottom:15px;
  &-Img {
    object-fit: cover;
    border-radius: 25px;
    width: 100%;
    height: 450px;
    border-radius: 25px;
  }
  &-index {
    position: absolute;
    top: 520px;
    right: 50%;
    color:white;
  }
}
.active {
  width: 100%;
}
.arrow {
  position:absolute;
  max-width: 1440px;
  min-width: 500px;
  width:97%;
  display: flex;
  justify-content: space-between;
  padding-top: 200px;

  &-Right,
  &-Left {
    cursor: pointer;
    position: relative;
  }
  &-Left {
    margin-left:25px;
  }
  &-Right {
    margin-right:25px;
  }
}
