.Collapse {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 10px 10px;
  align-items: center;
  &-Text {
    display: flex;
    width: 100%;
    background-color: $textcolor;
    color: white;
    border: 1px red solid;
    padding: 12px;
    margin: 10px;
    border-radius: 5px;
    font-size: 20px;
    justify-content: space-between;
    &_sub {
      max-height: 0;
      overflow: hidden;
      transition: max-height 10s ease-in-out;
      width: 95%;
      background-color: #f6f6f6;
      color: $textcolor;
      padding: 15px;
      margin-top: -10px;
    }
    &_List{
      margin:6px;
    }
    &_IsnList{
      margin:6px;
    }
  }
}
.Collapse-Text_sub.Notshow {
  transition: 10s ease-in;
  max-height: 0px;
}
.Collapse-Text_sub.show {
  transition: max-height 10s ease-in;
  max-height: 10000px;
}
