.FicheLogements {
  &-Entete {
    display: flex;
    flex-wrap: nowrap;
    height: 100px;
    display: flex;
    color: $textcolor;
    align-items: center;
  }
  &-Titre {
    & h2 {
      overflow: hidden;
      font-weight: 500;
      font-size: 36px;
      margin: 0px;
      padding: 0px 0px;
    }
    & p {
      margin: 0px;
      padding: 10px 0px;
      font-weight: 500;
      font-size: 18px;
    }
  }
  &-Profil {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: -95px;
    &Loueur {
      padding-right: 10px;
      color: $textcolor;
      width: 65px;
      text-align: end;
      &_Picture {
        border-radius: 90px;
        width: 70px;
      }
    }
  }
  &-TagFilter {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  &-Filter {
    display: flex;
    flex-direction: row;
  }
  &-Tag {
    padding: 35px 0px 15px 0px;
    &_txt {
      flex-wrap: wrap;
      margin-right: 20px;
      padding: 7px 25px;
      color: white;
      background-color: $textcolor;
      font-size: small;
      border-radius: 10px;
    }
  }

  &-Button {
    display: flex;
    flex-wrap: nowrap;
    gap: 8%;
  }
}
