.FicheLogements {
  &-Entete {
    display: flex;
    flex-wrap: nowrap;
    height: 100px;
    display: flex;
    color: $textcolor;
    align-items: center;
  }
  &-Titre {
    & h2 {
      overflow: hidden;
      font-weight: 500;
      font-size: 36px;
      margin: 0px;
      padding: 5px 0px;
    }
    & p {
      margin: 0px;
      padding: 5px 0px;
      font-weight: 500;
      font-size: 18px;
    }
  }
  &-Profil {
    display: flex;
    flex-direction: row;
  }
  &-Filter {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 30px;
  }
  &-ProfilLoueur {
    position: absolute;
    top: 615px;
    right: 150px;
    color: $textcolor;
    &_Picture {
      position: absolute;
      top: 600px;
      right: 60px;
      width: 60px;
      border-radius: 90px;
    }
  }
  &-Tag {
    width: 100%;
    padding: 10px 0px;
    &_txt {
      flex-wrap: wrap;
      margin-right: 20px;
      padding: 7px 25px;
      color: white;
      background-color: $textcolor;
      font-size: small;
      border-radius: 10px;
    }
  }

  &-Button {
    display: flex;
    flex-wrap: nowrap;
    gap: 8%;
  }
}
