footer {
    padding-top:20px;
    display:flex;
    flex-direction: column;
    height:80px;
    background-color: black;
    margin-top:25px;
    max-width: none;
    justify-content: center;
    align-items: center;
    color:#FFFFFF;
    font-weight:500;
}

.Logo-Footer {
width:50px;
}


