header {
  margin: 35px 0px;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Logo {
  width: 150px;
}

.Link {
  display: flex;
  width: 180px;
  justify-content: space-between;

  a {
    display: flex;
    text-decoration: none;
    color: #ff6060;
    justify-content: flex-end;

    &.active {
      text-decoration: underline;
    }

    &.Link_Accueil {
      width: 150px;
    }

    &.Link_Apropos {
      width: 150px;
    }
  }
}
